<header role="banner">

    <div class="d-flex {# d-none #} justify-content-center ">
        <a href="/"><img width="100" src="{{ asset('images/alkas.png') }}" alt="Alkas Projet"></a>
    </div>

    <nav class="navbar navbar-expand-lg bg-light justify-content-center ">
        {#        <div class="navbar-brand d-sm-flex d-lg-none"> #}
        {#            <a href="/"><img width="100" src="{{ asset('images/alkas.png') }}" alt="Alkas Projet"></a> #}
        {#        </div> #}

        <div class="container-fluid">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link {% if menuAccueil is defined %}active{% endif %}" aria-current="page"
                           href="{{ path('accueil') }}">Accueil</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link {% if menuCours is defined %}active{% endif %} dropdown-toggle" href="#"
                           role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Cours
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item {% if menuResponse is defined %}active{% endif %}"
                                   aria-current="page"
                                   href="{{ path('response') }}">Response</a>
                            </li>
                            <li>
                                <a class="dropdown-item {% if menuFormulaire is defined %}active{% endif %}"
                                   aria-current="page"
                                   href="{{ path('formulaire') }}">Formulaire</a>
                            </li>
                            <li>
                                <a class="dropdown-item {% if menuFormulaireSecond is defined %}active{% endif %}"
                                   aria-current="page"
                                   href="{{ path('formulaireSecond') }}">Formulaire second</a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link {% if menuVoiture is defined %}active{% endif %} dropdown-toggle" href="#"
                           role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Voiture
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ path('app_voiture_index') }}">Voiture</a></li>
                            <li><a class="dropdown-item {% if menuFinByIdVoiture is defined %}active{% endif %}" href="{{ path('finByIdVoiture') }}">finByIdVoiture</a></li>
                            <li><a class="dropdown-item {% if menuFindOneByCar is defined %}active{% endif %}" href="{{ path('findOneByCar') }}">findOneByCar</a></li>
                            <li><a class="dropdown-item {% if menuFindAllCars is defined %}active{% endif %}" href="{{ path('findAllCars') }}">findAllCars</a></li>
                            <li><a class="dropdown-item {% if menuVFindByIDSlug is defined %}active{% endif %}"
                                   href="{{ path('findByIDSlug', {'id': 2}) }}">findByIDSlug</a>
                            </li>
                            <li><a class="dropdown-item {% if menuVFindByNomSlug is defined %}active{% endif %}" href="{{ path('findByNomSlug', {'nom': 'peugeot'}) }}">findByNomSlug</a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link {% if menuCheMarque is defined %}active{% endif %} dropdown-toggle" href="#"
                           role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Chemise / marque
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item {% if menuChemise is defined %}active{% endif %}" href="{{ path('app_chemise_index') }}">Chemise</a></li>
                            <li><a class="dropdown-item {% if menuMarque is defined %}active{% endif %}" href="{{ path('app_marque_chemise_index') }}">Marque</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="navbar-nav ms-auto">
                    {% if is_granted('ROLE_USER') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_login') }}">Se connecter</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>


</header>