<a href="{{ path('finByIdVoiture') }}">finByIdVoiture</a><br>
<a href="{{ path('findOneByCar') }}">findOneByCar</a><br>
<a href="{{ path('findAllCars') }}">findAllCars</a><br>
<a href="{{ path('findByIDSlug', {'id': 2}) }}">findByIDSlug</a><br>
<a href="{{ path('findByNomSlug', {'nom': 'peugeot'}) }}">findByNomSlug</a><br>