<!-- Navigation -->
<nav nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{{ path('accueil') }}">Eval</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('accueil') }}">Accueil</a>
                </li>
{#                <li class="nav-item ">
                    <a class="nav-link" href="{{ path('APropos') }}">A propos</a>
                </li>#}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Blog
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item {% if articles is defined %}active{% endif %}" href="{{ path('app_page_index') }}">Page</a></li>
                        <li><a class="dropdown-item {% if articles is defined %}active{% endif %}" href="{{ path('app_categorie_index') }}">Categorie</a></li>
                    </ul>

{#                <li class="nav-item dropdown">#}
{#                    {% if is_granted('ROLE_ADMIN') %}#}
{#                    <a class="nav-link dropdown-toggle" href="{{ path('admin') }}" role="button"#}
{#                       data-bs-toggle="dropdown"#}
{#                       aria-expanded="false">#}
{#                        Admin#}
{#                    </a>#}
{#                    {% endif %}#}
{#                    <ul class="dropdown-menu">#}
{#                        <li><a class="dropdown-item" href="{{ path('admin') }}">Tableau de bord admin</a></li>#}
{#                        <li><a class="dropdown-item" href="#}{#{{ path('gestion_utilisateur') }}#}{#">Gestion des#}
{#                                utilisateurs</a></li>#}
{#                    </ul>#}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Compte
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ path('app_login') }}">Connexion</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_register') }}">Inscription</a></li>
                    </ul>
{#                <li class="nav-item">#}
{#                    <a class="nav-link" href=" {{ path('contact') }} ">Contact</a>#}
{#                </li>#}
{#                {% if app.user %}#}
{#                    <li class="nav-item ">#}
{#                        <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>#}
{#                    </li>#}
{#                {% endif %}#}
{#            </ul>#}
        </div>
    </div>
</nav>